<table *ngIf="users; else loading" class="table table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>Nombre</th>
    <th>Fecha de nacimiento</th>
    <th class="text-center">Opciones</th>
  </tr>
  </thead>
  <tbody>
  <tr class="user-row" *ngFor="let user of users; trackBy: usersTrackByFn">
    <th scope="row">{{ user.id }}</th>
    <td>{{ user.name }}</td>
    <td>{{ user.birthdate | date:"dd/MM/yy" }}</td>
    <td>

      <span class="float-right">

        <button (click)="showDetails(user)" class="btn btn-outline-primary m-1 btn-sm btn-resposive">
          Detalles
        </button>

        <button (click)="editUser(user)" class="btn btn-outline-warning m-1 btn-sm btn-resposive">
          Editar
        </button>

        <button (click)="deleteUser(user)" class="btn btn-outline-danger m-1 btn-sm btn-resposive">
          Borrar
        </button>
      </span>

    </td>
  </tr>

  </tbody>
</table>

<ng-template #loading>
  <span>Cargar usuarios ...</span>
</ng-template>
